.cols2{
  display: flex;
  min-height: 100vh;
}

.cols3{
  display: flex;
  min-height: 100vh;
  margin-top: 5rem;
}

/* Our Story Start Here */

.part1{
  width: 35%;
  display: grid;
  align-content: center;
}

.blob-Story{
max-width: 60rem;   


}

.part2{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 1rem;
  
}

/* @keyframes move {
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
} */



.content{
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: show 1s ease-in backwards; */
  /* animation: move 0.5s ease-in forwards; */
}
.content h1{
  font-size: 7rem;
  margin-bottom: 1rem;
  margin-top: 10%;
  text-align: center;
}
.article{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
.content .article p{
  text-align: left;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60vw;
  padding: 1rem;
  
}

.tag{
  position: fixed;
  rotate: -90deg;
  top: 50%;
  left: -3%;
  
}


/* .Cards{
  display: grid;
  background-color: red;
  grid-template-columns: repeat(6,1fr);
}
.card img{
filter: grayscale(2);
transition: 0.5s ease-in;


}

.card img:hover{
  filter: grayscale(0);
  } */




/* Our Customers Start Here */


.Customers-container{
  /* height: 100vh; */
  overflow-x: hidden;
  overflow-y: hidden;
 margin-top: 2rem;
 padding: 15px;
}

.logos{
  display: grid;
  grid-template-columns: repeat(35,1fr);
  gap: 3.2rem;
  /* height: 2px; */
  animation: move 30s linear infinite;
  margin: 1rem;
  margin-top: 5rem;
}



.Customers-logo{
  filter: grayscale(100%);
  max-width: 50vw;
  mix-blend-mode: color-burn;
}



.Customers-logo img{
 object-fit: contain;
 height: 8vh;
 width: 8vw; 
 
}
.Customers-logo:hover{
  filter: grayscale(0%);
}

.logos:hover{
 animation-play-state: paused;
 cursor: pointer; 
 
}

.text{
  margin-top: 1.5rem;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 7rem;
 font-family: 'Open Sans';  
 
}

@keyframes move {
  from{
      transform: translateX(15%);
  }
  to{
      transform: translateX(-270%);
  }
}





/* map Starts here */



.map{
  height: 100vh;
}

.flex{
  display: flex;
}

.map1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  border-style: 5px solid var(--clr-on-body);
  
  /* background: url("/public/images/map1.svg") no-repeat;
  background-position: center;
  object-fit: cover; */
}

.flex h1{
  text-align: center;
  font-size: 7rem;
  font-weight: normal;
}

.map2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 48vw;
  

  /* background: url("/public/images/map1.svg") no-repeat;
  background-position: center;
  object-fit: cover; */
}

.map2 h1{
  /* margin-top:1rem; */
  font-size: 7rem;
}

.world{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  width: 30vw;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.country{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.country h2{
  font-size: 3rem;
  font-weight: normal;
}
.show{
  animation: jump 1s ease-in infinite;
}

@keyframes jump {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5%);
  }
}



@keyframes spin {
  from{
    transform: rotate(0deg) ;
  }
  to{
    transform: rotate(360deg) ;
  }
}


.plane{
  display: flex;
  justify-content: top;
  align-items: center;
  animation: fly 3s linear infinite;
}

.banner{
  font-size: 3rem;
  color: #464455;
}

@keyframes fly {
  from{
    transform: translateX(-110px);
  }
  to{
    transform: translateX(155px);
  }
}







@media only screen and (max-width: 992px){
  .part1{
    display: none;
  }
}


/* Our Story */

@media only screen and (max-width: 767px){
  .cols2{
    flex-direction: column;
  }


  .part1{
    display: none;
  }
  .box{
    width: 80vw;
    height: 50vh;
    background-color: var(--clr-green);
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .part2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1rem;
  }
  .tagline{
    position: absolute;
    rotate: -90deg;
    top: 50%;
    left: -20%;
    font-size: var(--font-sm);
    display: none;
  }
  .content h1{
    font-size: 7rem;
    margin-bottom: 1rem;
  }
  .article p{
    text-align: left;
    font-size: 2rem;
  display: flex;
  }
}

/* Our customers*/

@media only screen and (max-width: 767px) {

  .text{
   display: flex;
   justify-content: center;
   font-size: 6rem;
    
  }
  
  .logos{
   margin-top: 4.5rem;
   grid-template-columns: repeat(20,1r);
  }
  
  .Customers-logo{
   width: 30vw;
  }
  .Customers-logo img{ 
   
   width: 30vw; 
   object-fit: contain;
   
  }
  }


/* Our Presence(map) */

@media only screen and (max-width: 767px){

  .cols3{
    flex-direction: column;
  }

  .flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  
  .map1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;  }
  .india{
    height: 800px;
    width: 370px;
  }
  .world{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100vw;
  }
  .map2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5rem;
    
   
  }
  .grid2{
    display: grid;
    grid-template-columns: 200px 200px;
    align-items: start;
  }

  .country{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 1em;
    aspect-ratio: 3/1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .country h2{
    font-size: 3rem;
    font-weight: normal;
  }
  .show{
    animation: jump 1s ease-in infinite;
  }

  .plane{
    display: none;
  }
  
  .banner{
    font-size: var(--font-content);
    color: #464455;
    display: none;
  }
  
}


/* Teams */

.people{
  min-height: 100vh;
  margin: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
 
  }
  
  .ourpeople{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  /* animation: move 15s linear infinite; */
  column-gap: 5rem;
  margin: 3rem;
  
  
  }
  
  .Our-people{
   height: 40vh;
   width: 15vw;
     /* mix-blend-mode: color-burn; */
   
  }
  
  .Our-people img{
  height: 40vh;
  width: 15vw;
  object-fit: contain;
   
  }

  .ourpeople:hover{
      animation-play-state: paused;
      cursor: pointer; 
  }       
  
  
  
  .ourpeople p{
  font-size: 2rem;
  }
  /* openings */




/* opening and contact us pages */
.refresh {
  background: url("/public/images/refresh.svg");
  width: 23px;
  height: 23px;
  z-index: 10;
  background-color: none;
  border: none;
  cursor: pointer;
}

.contact-h1{
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 1rem;
}

/* .parentbox{min-height:600px; margin-top: 25px; 
 display:flex; flex-wrap: wrap; justify-content: space-around; } */

.form-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-top: 5rem;
}

@media only screen and (max-width: 1150px) {
  .cols4{
      display: none;
  }
}

.enquiry-map{
  position: relative;
  left: 25%;
}

.form-group{
  margin-top: 3rem;
}

/* .txtbox{
  width:25vw;
  height: 5vh; 
} */

.contact h1{
  display: flex;
  font-size: 7rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.form-group .cname{
  margin-left: 5rem;
  width:25vw;
  height: 5vh;
  font-size: 2rem;
}

.form-group .yname{
  margin-left: 10rem;
  font-size: 2rem;
  width:25vw;
  height: 5vh;
}
.form-group .phone{
  margin-left: 1.5rem;
  font-size: 2rem;
  width:25vw;
  height: 5vh;
}

.form-group .emailo{
  margin-left: 13.5rem;
  font-size: 2rem;
  width:25vw;
  height: 5vh;
}

.form-group label{
  font-size: 2.3rem;
}

.btn-load{
 border: none;
 text-align: center;
}

@media only screen and (max-width: 530px) {
  .form-group label{
      font-size: 2.3rem;
  }

  /* .txtbox{
    width:25vw;
    height: 5vh;  
  } */

  .form-group .cname{
      margin-left: 5rem;
      font-size: 2rem;
      width: 180px;

  }
  
  .form-group .yname{
      margin-left: 10rem;
      font-size: 2rem;
      width: 180px;
  }
  .form-group .phone{
      margin-left: 1.5rem;
      font-size: 2rem;
      width:25vw;
  height: 5vh;

  }
  
  .form-group .emailo{
      margin-left: 13.4rem;
      font-size: 2rem;
      width: 180px;

  }
  .form-group .file{
      margin-left: 1rem;
      font-size: 2rem;
      width: 180px;

  }
}

@media only screen and (max-width: 440px) {
  .form-group label{
      font-size: 2rem;
  }

  /* .txtbox{
    width:25vw;
    height: 5vh;   
  } */

  .form-group .cname{
      margin-left: 3rem;
      font-size: 2rem;
      width: 170px;

  }
  
  .form-group .yname{
      margin-left: 7.4rem;
      font-size: 2rem;
      width: 170px;
  }
  .form-group .phone{
      margin-left: 0rem;
      font-size: 2rem;
      width: 170px;

  }
  
  .form-group .emailo{
      margin-left: 10.5rem;
      font-size: 2rem;
      width: 170px;

  }
  .form-group .file{
      margin-left: 1rem;
      font-size: 2rem;
      width: 170px;

  }
 
}