:root{

  /* colors */
  --clr-primary: #F39200;
  --clr-secondry: #F3F3F3;
  --clr-blue: #6FA8DC;
  --clr-yellow: #FADA5E;
  --clr-pink:#CFBCAB;
  --clr-orange: #FF9900;
  --clr-orange-dark: #E69138;
  --clr-green:#6AA84F;
  --clr-purple: #B4A7D6;
  --clr-btn-action: #B45F06;
  --clr-on-body: #1f1f1f;
  --clr-body: #FFFFFF;
  /* font-sizes */
  --font-slider-title: 4.3rem;
    --font-page-tile: 3.5rem;
    --font-subtitle: 2.5rem;
    --font-content: 1.3rem;
    --font-primary: 1rem;
    --font-sm: .75rem;
    --font-btn: 1.2rem;
}

body{
  overflow-x: hidden;
}

.cols2{
  display: flex;
  min-height: 100vh;
}

.part1{
  width: 35%;
  display: grid;
  align-content: center;
}

.box{
  width: 20vw;
  height: 70vh;
  background-color: var(--clr-green);
  margin-left: 10%;
}

.part2{
  width: 75%;
  background-color: #d3d3c5f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 1rem;
  
}



@keyframes show {
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

.content{
  width: 70vw;
  /* animation: show 1s ease-in backwards; */
  
}

p,
h1{
  animation: move 0.7s linear both;
}

@keyframes move {
  0%{
    transform: translateY(50%);
    opacity: 0;
  }
  /* 90%{
    opacity: 0.5;
  } */
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.presence:hover{
  transform: scale(1.6);
  z-index: 1000;
  
}

.content h1{
  font-size: var(--font-page-tile);
  margin-bottom: 1rem;
}
.article{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content p{
  text-align: left;
  font-size: var(--font-content);
}

.tag{
  position: absolute;
  rotate: -90deg;
  top: 50%;
  left: -10%;
}


@media only screen and (max-width: 600px){
  .cols2{
    flex-direction: column;
  }
  .part1{
    width: 100%;
    /* height: 35%; */
    display: none;
    align-content: center;
  }
  .box{
    width: 80vw;
    height: 50vh;
    background-color: var(--clr-green);
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  .part2{
    height: 100vh;
    width: 100%;
    background-color: #d3d3c5f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1rem;
  }
  .tag{
    display: none;
    position: absolute;
    rotate: -90deg;
    top: 20%;
    left: -20%;
    font-size: var(--font-sm);
  }
  .content h1{
    font-size: var(--font-subtitle);
    margin-bottom: 1rem;
  }
  .content p{
    text-align: left;
    font-size: var(--font-primary);
  }
}

.presence:hover{
  transform: translateX(20%) scale(1.2);

}


/* why oursys */
header{
  padding: 2em;
}
.page{
  height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1{
  font-size: var(--font-subtitle);
  font-weight: normal;
}
/* .text{
  display: flex;
  align-content: center;
  flex-direction: column;
} */
.text p{
  font-size: var(--font-primary);
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem;
  align-items: center;
  justify-content: center;

}

.reason{
  display: flex;
  gap: 1rem;
}

.sub{
  font-size: var(--font-content);
  font-weight: 700;
}

.avtar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  font-size: 1rem;
  border-radius: 50%;
  background-color: var(--clr-secondry);
}

.circle2{background-color: var(--clr-blue);}
.circle3{background-color: var(--clr-green);}
.circle4{background-color: var(--clr-pink);}
.circle5{background-color: var(--clr-yellow);}
.circle6{background-color: var(--clr-purple);}


/* media query */

@media only screen and (max-width: 600px){

  .container h1{
    font-size: var(--font-content);
    font-weight: normal;
  }
  /* h1,p{
    animation: fade linear both;
    animation-timeline: scroll();
  } */

  @keyframes fade {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .grid-3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 3rem;
    align-items: center;
    justify-content: center;
  
  }
}
