:root{

  /* colors */
  --clr-primary: #F39200;
  --clr-secondry: #F3F3F3;
  --clr-blue: #6FA8DC;
  --clr-yellow: #FADA5E;
  --clr-pink:#CFBCAB;
  --clr-orange: #FF9900;
  --clr-orange-dark: #E69138;
  --clr-green:#6AA84F;
  --clr-purple: #B4A7D6;
  --clr-btn-action: #B45F06;
  --clr-on-body: #1f1f1f;
  --clr-body: #FFFFFF;
  /* font-sizes */
  --font-slider-title: 4.3rem;
    --font-page-tile: 3.5rem;
    --font-subtitle: 2.5rem;
    --font-content: 1.3rem;
    --font-primary: 1rem;
    --font-sm: .75rem;
    --font-btn: 1.2rem;
}

.cols2{
  display: flex;
  min-height: 100vh;
}

.cols3{
  display: flex;
  min-height: 100vh;
  margin-top: 5rem;
}

.part1{
  width: 35%;
  display: grid;
  align-content: center;
}

.box{
  width: 20vw;
  height: 70vh;
  background-color: var(--clr-green);
  margin-left: 10%;
}

.part2{
  width: 75%;
  background-color: #d3d3c5f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 1rem;
  
}

/* @keyframes move {
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
} */



.content{
  width: 70vw;
  /* animation: show 1s ease-in backwards; */
  /* animation: move 0.5s ease-in forwards; */
}
.content h1{
  display: flex;
  justify-content: center;
  font-size: var(--font-page-tile);
  margin-bottom: 1rem;
  margin-top: -17%;
}
.article{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
.content p{
  text-align: left;
  font-size: var(--font-content);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60vw;
  padding: 1rem;

}

.tag{
  position: absolute;
  rotate: -90deg;
  top: 50%;
  left: -8.2%;
}

/* .Cards{
  display: grid;
  background-color: red;
  grid-template-columns: repeat(6,1fr);
}
.card img{
filter: grayscale(2);
transition: 0.5s ease-in;


}

.card img:hover{
  filter: grayscale(0);
  } */


@media only screen and (max-width: 600px){
  .cols2{
    flex-direction: column;
  }

  .cols3{
    flex-direction: column;
  }
  .part1{
    display: none;
  }
  .box{
    width: 80vw;
    height: 50vh;
    background-color: var(--clr-green);
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .part2{
    height: 100vh;
    width: 100%;
    background-color: #d3d3c5f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1rem;
  }
  .tag{
    position: absolute;
    rotate: -90deg;
    top: 50%;
    left: -20%;
    font-size: var(--font-sm);
    display: none;
  }
  .content h1{
    font-size: var(--font-subtitle);
    margin-bottom: 1rem;
  }
  .content p{
    text-align: left;
    font-size: var(--font-primary);
  }
}



.container{
    
  height: 95vh;
  margin: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
 


}

.logos{
  display: grid;
  grid-template-columns: repeat(20,1fr);
  gap: 2rem;
  /* mix-blend-mode: color-burn; */
  height: 2px;
  animation: move 15s linear infinite;
  margin: 1rem;
  column-gap: 2rem;
}



.logo{
  filter: grayscale(100%);
  max-width: 50vw;
     

}



.logo img{
 object-fit: contain;
 height: 8vh;
 width: 8vw; 
 
}
.logo:hover{
  filter: grayscale(0%);
}

.logos:hover{
 animation-play-state: paused;
 cursor: pointer; 
 
}

.text{
 display: flex;
 align-items: center;
 justify-content: center;
  font-size: var( --font-page-tile);
  font-family: 'Open Sans';  
 
}

@keyframes move {
  from{
      transform: translateX(15%);
  }
  to{
      transform: translateX(-100%);
  }
}



@media only screen and (max-width: 767px) {

.text{
 
 display: flex;
 justify-content: center;
 font-size: var( --font-subtitle);
  
}

.logos{
 margin-top: 4.5rem;
 grid-template-columns: repeat(20,1r);
}

.logo{
 width: 30vw;
}
.logo img{ 
 
 width: 30vw; 
 object-fit: contain;
 
}
}

